<div class="info">
    <h2>MartiStore</h2>
    <img src="/assets/images/stor.jpg" alt="store" width="300px" height="150px">
    <div class="head">For your everything for every day</div>
    <div>Choose from 40,000 products: we have fruits and vegetables, meat and fish, household and pet supplies</div>
    <div class="head">All freshness and quality</div>
    <div>Rest assured: we carefully monitor the freshness and quality of products in the warehouse and at all stages of
        delivery</div>
</div>